.footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
    
}
.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}
.footer a:hover {
    text-decoration: underline;
}
.footer p {
    font-size: 14px;
    color: #777;
    margin: 5px 0;
}