/* Text Slider Container */
.text-slider {
  width: 100%;
  overflow: hidden; /* Hide the extra text outside the container */
  background-color: #111; /* Background color for the slider section */
  padding: 20px 0;
  position: relative;
}

.slider-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap; /* Prevents the text from wrapping */
  animation: slideText 15s linear infinite; /* Infinite scroll animation */
}

.slider-item {
  font-size: 24px;
  color: white;
  padding: 0 50px; /* Space between each text */
  font-family: 'Changa', sans-serif;
  text-align: center;
}

/* Keyframe for horizontal scrolling */
@keyframes slideText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
